/* CSS da Lista de Usuários para Pagamento */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #b5b5b9;
}

input,
select {
  margin: 8px 0;
}

.container {
  background-color: #6f6c85;
  margin-top: 0.5rem;
  align-items: center;
  padding: 1.25rem;
  margin-bottom: 0.3rem;
  border-radius: 3px;
  box-shadow: 1px 3px 10px -6px black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #a49fc7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-shadow: 1px -5px 15px black;
}

.desktop-layout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.class-saldo {
  display: flex;
  margin-right: 4vw;
  font-size: 18px;
  font-weight: 400;
}

.saldo-caixa {
  margin-left: 4px;
  color: rgb(69, 153, 58);
}

.class-user {
  display: flex;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumbnail {
  border-radius: 50%;
  margin-right: 1.25rem;
}

.infos {
  margin-right: auto;
}

.infos p {
  font-size: 18px;
  color: #fff;
}

button {
  padding: 0.25rem 0.438rem;
  font-size: 15px;
  color: #fff;
  font-weight: normal;
  background-color: #76a381;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 75px;
}

/* CSS dos Modals */

.abrirModal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  right: "auto";
  bottom: "auto";
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 310px;
  height: 190px;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 60px 0px black;
}

.texto-cabecalho-modal {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #a49fc7;
  color: #ffffff;
  padding: 10px;
  width: 94%;
  margin-top: 0%;
  align-content: center;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 5px 5px 0px 0px;
}

.btn-fechar {
  height: 65%;
  width: 100%;
}

.modal-title {
  font-size: 14px;
}

.texto-cabecalho-modal span {
  color: #c8d63c;
  font-weight: bold;
}

.abrirModal select {
  width: 57%;
  height: 30px;
  border-radius: 5px;
}

.btn-pagar {
  width: 20%;
  margin-bottom: 10px;
}

.abrirModal p {
  text-align: center;
}

.valorInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.valorInput p {
  margin: 0;
  color: red;
  font-weight: bold;
  margin-top: 2%;
}

.letter-sucess {
  color: #12bf12;
  font-weight: 700;
  padding-left: 4px;
}

.letter-negative {
  padding: 0 4px;
  color: red;
  font-weight: 700;
}

/* Media Queries */

@media screen and (max-width: 2200px) and (min-width: 1900px) {
  .container {
    width: 30vw;
  }

  .user-logo {
    width: 60px;
  }

  .desktop-layout {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1899px) and (min-width: 1025px) {
  .container {
    width: 45vw;
  }

  .user-logo {
    width: 60px;
  }

  .desktop-layout {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 413px) {
  .container {
    width: 100vw;
  }

  .desktop-layout {
    margin-top: 80px;
  }

  .user-logo {
    width: 60px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .user-logo {
    width: 60px;
  }

  .desktop-layout {
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
  .desktop-layout {
    margin-top: 85px;
  }

  .user-logo {
    width: 60px;
  }

  .class-saldo {
    margin-right: 7vw;
  }
}

@media screen and (max-width: 412px) and (min-width: 391px) {
  .container {
    width: 100vw;
  }

  .thumbnail {
    width: 75px;
  }

  .infos p {
    font-size: 15px;
  }

  .desktop-layout {
    margin-top: 200px;
  }
}

@media screen and (max-width: 390px) and (min-width: 376px) {
  .container {
    width: 90vw;
  }

  .thumbnail {
    width: 75px;
  }

  .infos p {
    font-size: 15px;
  }
}

@media screen and (max-width: 375px) and (min-width: 361px) {
  .thumbnail {
    width: 75px;
  }

  .infos p {
    font-size: 15px;
  }
}

@media screen and (max-width: 360px) and (min-width: 280px) {
  .thumbnail {
    width: 60px;
  }

  .infos p {
    font-size: 10px;
  }

  button {
    font-size: 10px;
  }

  .desktop-layout {
    margin-top: 90px;
  }

  .user-title {
    font-size: 0.9rem;
  }

  .user-logo {
    width: 42px;
  }

  .header {
    flex-direction: column;
  }

  .class-saldo p {
    margin: 2px;
  }
}
